@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html , body ,.root{
 
   background-color: rgb(245, 243, 243);
  height: 100%;
  
   
} 

/*intro page*/
/* styles/animations.css */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
  }

  95% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(10px);
  }

  95% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-top{
  animation: slideInFromTop 0.5s ease-out forwards;
}

.text-btn {
  letter-spacing: 0;
  transition: letter-spacing 0.5s ease-in-out;
}

.text-btn:hover {
  letter-spacing: 2px; /* Adjust as needed */
}

.image-min-size{
min-width: 500px;
min-height: 300px;
}

/*login page*/


.img-background{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
  
}

.img-rnd{

  border-radius: 50%;
  transition: transform 0.3s ease-out;

}
.img-rnd:hover{
  transform: scale(1.05);
}
.error{
  display: inline-flex;
  
}
@keyframes flipIn {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

.login-container{

  width: 400px;
  border-radius: 15px;
  z-index: 1000;
  position: relative;
  transform-style: preserve-3d;
  animation: flipIn 1.5s forwards; /* Animation applied here */
}

.login-content {
 
  padding: 20px;
  border-radius: 10px;
  
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease; /* Smooth transition effect */
  outline: none;

}

.form-group input:focus {
  border-color: #6a1b9a; /* Purple border color on focus */
  box-shadow: 0 0 0 2px rgba(107, 89, 229, 0.8); /* Purple glow effect */
}
.login-btn {
  width: 60px;
  padding-block: 10px;
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.3s ease-in-out,opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-btn:hover {
 opacity: 0.9;
 width: 100px;
}


@keyframes moveLetter {
  0%, 90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blinkLetter {
  0%, 90% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animated-text span {
  display: inline-block;
  position: relative;
  animation: moveLetter 5s infinite , blinkLetter 5s infinite;
}

/* Target specific letters */
.animated-text span:nth-child(1) {
  animation-delay: 1s;
}

.animated-text span:nth-child(2) {
  animation-delay: 2s;
}

.success{

  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.success.active{
  opacity: 1;
}

/* loading */


.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
  animation: l15 1s infinite linear;
 
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}


/* home page */

.top-bar{

 background-image: url('/sea.jpg');
 background-color: rgba(255, 255, 255, 0); /* Semi-transparent background color */
 background-blend-mode:color;
 mix-blend-mode:darken;
 background-size:cover; /* Makes sure the image covers the entire div */
  background-position:top; /* Centers the image */
  height: 220px;
  width: 100%;
  padding: 15px;

}

@media screen and (min-width:768px) {
  
  .top-bar{
    height: 300px;
  }

 
}



/* navigation */


.selected{background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Fades the shadow upwards */}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


.svg-anim{

  animation: shake 0.5s ease;
}

/* main content */

.search-container {
  display: flex;
  align-items: center;
  width: 80%;
}



.search-input {
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px 0  0 8px;
  outline: none;
  height: 100%;
}

.search-button {
  background-color: #6a1b9a;
  border: none;
  padding: 11px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
 
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
}

.search-button:hover {
  opacity: 0.9;
}

.feat-tour-img{

  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  image-rendering: auto;        /* Default rendering */
  image-rendering: crisp-edges; /* For pixelated images (like icons) */
  image-rendering: pixelated;   /* For a pixelated effect */
  background-position: center;
  transition: transform 0.3s ease-in-out;
  
}

.feat-tour-img:hover{
transform: scale(1.02);
}

/* popular destinations */
.figure-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor:pointer;

}
.figure-container img {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  
}
.figure-container:hover img{
  -webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  /* -webkit-filter: grayscale(100%);
	filter: grayscale(100%); */
}
.figure-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 1rem;
  transition: opacity 0.3s;
  opacity: 1; /* Hidden by default */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
}


.footer-img{

  background-image: url('/bg-login.jpg');
  
}

/* socials */

.socials{
  display: grid;
  place-content: center;
  
}
.socials ul {
  
  
  background-color: white;
  padding-block:8px;
  display:flex;
  border-radius: 16px;
 
}
.socials  ul li {
  list-style:none;
}
.socials  ul li a {
  display:flex;
  justify-content: center;
  align-items: center;
  position:relative;
  width: 40px;
  height:40px;
  line-height:100px;
  font-size:40px;
  text-align:center;
  text-decoration:none;
  color:#404040;
  margin: 0 25px;
  transition:.5s;
}

.socials .facebook:hover {
  color: #3b5998;
}
.socials .facebook:hover svg { 
  stroke: #3b5998;

}
.socials .twitter:hover {
  color: #1da1f2;
}
.socials .twitter:hover svg { 
  stroke: #1da1f2;
}
.socials .instagram:hover {
  color: #c32aa3;
}
.socials .instagram:hover svg { 
  stroke: #c32aa3;
}
.socials .google:hover {
  color: #dd4b39;
}
.socials .google:hover svg { 
  stroke: #dd4b39;
}
.socials ul li a .twitter {
  color: #1da1f2;
}
.socials ul li a:hover:nth-child(3) {
  color: #c32aa3;
}
.socials ul li a:hover:nth-child(4) {
  color: #dd4b39;
}

/* destinations */

.destination-img{

  width: 100%;
  height: 470px;
  object-fit:cover;

}

.iran-smaller{
  background-image: url('/iransvg.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
}
.iran-bigger{

 
  
  background-image: url('/iranbigger.svg');
  background-position: center;
  background-repeat: no-repeat;
  
}

@media screen and (max-width:1024px) {
  .iran-bigger{

    height: 450px;
  }
}

/* experts card */

.card {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.card::before {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  width: 200%;
  height: 200%;
  background-color: rgb(143, 7, 143);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.card:hover::before {
  transform: translate(0, 0);
}

.card-content {
  position: relative;
  z-index: 1;
}
.card:hover{
  color: white;
  transform: scale(1.05);
}
.card p {
  transition: color 0.3s ease-in-out;
}
.card:hover p {
  color: white;
}

/* address where */

.breadcrumb {
  font-size: 1rem;
  margin: 8px;
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.breadcrumb ul li {
  margin: 8px;
}

.breadcrumb ul li a {
  color: #444F6B;
  text-decoration: none;

}

.breadcrumb ul li:nth-child(4) a {
  font-weight: bolder;
  font-size: 1.2rem;
  
}

.breadcrumb ul li a:hover {
  text-decoration: underline;
}

.breadcrumb ul li span {
  margin-inline: 8px;
  color: #6c757d; /* Gray color for the separator */
}

/* tour package */

.package {

  border-radius: 8px; 
  padding: 20px;
  max-width:100%;
  max-height: 100%;
  color: #444F6B;
}

h2 {
  font-size: 1rem;
 
}

.price {
  font-size: 3rem;
  font-weight: bold;
  margin: 10px 0;
}

.small-text {
  font-size: 1rem;
 
}

.duration {
  font-size: 0.8rem;
  
}

.logo {
  display: flex;
  align-items: center;
  
  margin: 20px 0;
}


.contact-btn {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255,0,0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255,0,0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  z-index: 1;
  
}

.contact-btn span {
  margin: 10px;
}

.contact-btn::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.contact-btn:hover {
  color: #fff;
  border: 1px solid rgb(255,0,0);
}

.contact-btn:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}


h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.details-list {
  list-style-type:disc;
  padding-inline: 16px;
}

.details-list li {
  margin: 5px 0;
  font-size: 1rem;
  
}

/* swap collection */



/* CSS Code */
.swiper-wrapper {
  width: 100%;
  height: max-content;
  padding-bottom: 64px;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
  }

  .hey{

    filter:contrast(1.2);
    transition: filter 0.2s ease-out;
    
  }
  .hey:hover{filter: contrast(1);}
  
  .swiper-pagination-bullet {
  background: #6a1b9a;
  }

  .card-body{
    background: linear-gradient(from top right to bottom left, purple 50%, transparent 50%);
  }

  .swiper-button-next{
    color: white;
  }
  .swiper-button-next{
    box-shadow:  2px 2px 1px 2px rgba(0, 0, 0, 0.2) !important;
  
  }
.swiper-button-prev{
  box-shadow:  2px 2px 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.swiper-button-prev::after{
  display: none;
}
.swiper-button-next::after{
  display: none;
}

.swiper-button-prev svg{

  width: 35px !important;
  height: 35px !important;
}
.swiper-button-next svg{
  width: 35px !important;
  height: 35px !important;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #E5E7EB;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 30;
  width: 200px;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
 
  
}
.sidebar--active {
  transform: translateX(0);
}

.sidebar-logo {
  display:flex;
  align-items: center;
  justify-content:space-between;
  height: 70px;
  width: 100%;
  padding: 0 19px  ;
  margin-top: 10px;
}

.sidebar-logo svg {
 cursor: pointer;

}



.sidebar-content{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  padding: 30px 0 0;
  width: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.sidebar-item{
  width: 100%;
  display: flex;
  margin-bottom: 20px;

  position: relative;
  flex-direction: column;

}
.sidebar-item:last-child{
  margin: 0;
  vertical-align: middle;
}
.sidebar-item:last-child{
  background-color: #5652521f;
  overflow: hidden;
  max-height: 0;
  transition:  0.3s ease-in-out;

}

.sidebar-item:last-child.drop--active{

  max-height:100%;
  padding-top: 10px;
  overflow-y: scroll;
  scrollbar-width: thin;
  
}



.sidebar-item:last-child a{
  margin-bottom: 20px;
  font-size: 15px;
}
.sidebar-item:last-child a::before{

  content: '';
  position: relative;
  margin-inline: 20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #882ac2;


}

.sidebar-item:last-child a:hover{
  color: #882ac2;
}

.sidebar-item:hover svg{
  
  fill: #882ac2;
}

.sidebar-item:hover #toggleIcon{
  stroke: #882ac2;
  fill: none;
}
.sidebar-item:not(:last-child):hover a{
  color: #882ac2;
}
.sidebar-item a{

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  transition: 0.4s ease;
  position: relative;
  font-weight: bold;
}

.sidebar-item svg{

 
  transition: fill 0.5s;
  margin-right: 12px;
  margin-bottom: 2px;
  
}

.sidebar-item .item-active{

  color: #882ac2;
}

.sidebar-link{

  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', sans-serif;
  margin-left: 15px;
  transition: 0.4s ease;
  position: relative;
}

.signature{

  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  font-weight: bold;
 width: 100%;
 padding: 13px 20px; 
 background-color: rgba(255, 255, 255,0.3);
}

.signature span{

  font-size: 0.8rem;
}

/* travel */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .tag {
    @apply bg-purple-600 text-center text-white py-1 px-3 rounded-full cursor-pointer transition-all duration-300 ease-in-out;
  }
  .tag:hover {
    @apply bg-purple-100 scale-110 rotate-3 text-black;
  }
  
 
  
}

