@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

html , body ,.root{
 
   background-color: rgb(245, 243, 243);
   height: 100%;
} 

/*intro page*/
/* styles/animations.css */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  80% {
    transform: translateX(10px);
  }

  95% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  80% {
    transform: translateY(10px);
  }

  95% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-slide-top{
  animation: slideInFromTop 0.5s ease-out forwards;
}

.text-btn {
  letter-spacing: 0;
  transition: letter-spacing 0.5s ease-in-out;
}

.text-btn:hover {
  letter-spacing: 2px; /* Adjust as needed */
}

.image-min-size{
min-width: 500px;
min-height: 300px;
}

/*login page*/


.img-background{
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
}

.img-rnd{

  border-radius: 50%;
  transition: transform 0.3s ease-out;

}
.img-rnd:hover{
  transform: scale(1.05);
}
.error{
  display: inline-flex;
  
}
@keyframes flipIn {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

.login-container{

  width: 400px;
  border-radius: 15px;
  z-index: 1000;
  position: relative;
  transform-style: preserve-3d;
  animation: flipIn 1.5s forwards; /* Animation applied here */
}

.login-content {
 
  padding: 20px;
  border-radius: 10px;
  
}


.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: all 0.3s ease; /* Smooth transition effect */
  outline: none;

}

.form-group input:focus {
  border-color: #6a1b9a; /* Purple border color on focus */
  box-shadow: 0 0 0 2px rgba(107, 89, 229, 0.8); /* Purple glow effect */
}
.login-btn {
  width: 60px;
  padding-block: 10px;
  background-color: #6a1b9a;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.3s ease-in-out,opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.login-btn:hover {
 opacity: 0.9;
 width: 100px;
}


@keyframes moveLetter {
  0%, 90% {
    transform: translateY(0);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blinkLetter {
  0%, 90% {
    opacity: 1;
  }
  95% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animated-text span {
  display: inline-block;
  position: relative;
  animation: moveLetter 5s infinite , blinkLetter 5s infinite;
}

/* Target specific letters */
.animated-text span:nth-child(1) {
  animation-delay: 1s;
}

.animated-text span:nth-child(2) {
  animation-delay: 2s;
}

.success{

  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.success.active{
  opacity: 1;
}

/* loading */


.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: rgb(255, 255, 255);
  transition: all 0.2s ease-in;
  animation: l15 1s infinite linear;
 
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}


/* home page */

.top-bar{

 background-image: url('/sea.jpg');
 background-color: rgba(255, 255, 255, 0.4); /* Semi-transparent background color */
 background-blend-mode:lighten;
 background-size:cover; /* Makes sure the image covers the entire div */
  background-position:top; /* Centers the image */
  height: 200px;
  width: 100%;
  padding: 15px;

}

/* navigation */

.selected{
  
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)); /* Fades the shadow upwards */
  
  
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}


.svg-anim{

  animation: shake 0.5s ease;
}

/* main content */

.search-container {
  display: flex;
  align-items: center;
  width: 300px;
}

.search-input {
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px 0  0 4px;
  outline: none;
  height: 100%;
}

.search-button {
  background-color: #6a1b9a;
  border: none;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
 
}

.search-icon {
  width: 20px;
  height: 20px;
  color: white;
}

.search-button:hover {
  opacity: 0.9;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

